# -----------------------------------------
# PubMed Pipeline + Azure Web App .gitignore
# Version: v4.2
# -----------------------------------------

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.venv/
ENV/
env/

# Env files
.env
*.env
*.env.*

# Logs
logs/
*.log
*.out
pubmed_pipeline/listeners/*.out
pubmed_pipeline/orchestration/*.log

# Databases
etl_output.db

# Build artifacts
*.egg-info/
build/
dist/

# Spark caches
spark_jobs/__pycache__/
spark_jobs/*.pyc

# Data — keep raw and samples, ignore artifacts and logs
pubmed_pipeline/data/extracted/
pubmed_pipeline/data/raw_pubmed/
pubmed_pipeline/data/storage/
pubmed_pipeline/outputs/

pubmed_pipeline/data/artifacts/
pubmed_pipeline/data/logs/

# Temp, backup, misc
*.tmp
*.bak
*.swp

# Jupyter
.ipynb_checkpoints/

# IDE / System
.DS_Store
.vscode/
.idea/

# Azure local artifacts
__azure_artifacts__/
*.azurelogs

# Notes
notepad .env.txt

